/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* FONT FAMILY */
/* importo il font dopo averlo installato con il comando:
   npm install @fontsource-variable/roboto 
   ed averlo importato in APP.jsx*/
.body {
  font-family: 'Roboto Variable', sans-serif;
}


/* background APPMain */
.background-main {
  background-color: #0282f9;
}

/* STILE JUMBOTRON */
.jumbotron {
  background-image: url("./assets/img/jumbotron.jpg");
  background-size: cover;
  background-position: center;
  height: 480px;
}


/*STILE FOOTER*/
.backgroundImgFooter {
  background-image: url("./assets/img/dc-logo-bg.png"), url("./assets/img/footer-bg.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: 80%, center;
  background-size: 730px, cover;

}